<div class="container">
  <h1>{{name}}'s Todo List</h1>
  <div ngClass='todoList'>
    <p>My List Items</p>
    <div ngClass="listItems">
      <div ngClass='addTodo'>
        <input #todo type='text' (keyup.enter) = "addItem(todo.value); todo.value='' " placeholder='+ Add Item' >
        <button ngClass='addBtn' (click) = "addItem(todo.value); todo.value='' ">Add Item</button>
      </div>
      <ul>
          <li *ngFor='let item of list; let i = index'>
              <input type='checkbox' (click) = "toggleItem(i)" />
              <span [style.display]="item.display ? 'inline' : 'none'" [ngClass]="item.completed ? 'completed list' : 'list' ">{{item.todo}}</span>
              <input #updatedItem type='text' [style.display]="item.display ? 'none' : 'inline'" value="{{item.todo}}" (keyup.enter) = "editItem(updatedItem.value, i)" />
              <div ngClass='btnContainer'>
                <span ngClass='clickableAwesomeFont'><fa-icon [icon]='editIcon'  (click) = "editItem(updatedItem.value, i)"></fa-icon></span>
                <span ngClass='clickableAwesomeFont'><fa-icon [icon]="trashIcon" (click) = "deleteItem(i)"></fa-icon></span>
              </div>
          </li>
      </ul>
    </div>
  </div>
</div> 

